## Visual Studio Build Results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]ld/
[Oo]ut/
[Ll]og/
[Ll]ogs/

## Visual Studio Cache & User Files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
*.pidb
*.vsp
*.vspx
*.sap
*.opendb
*.opensdf
*.sdf

## Antigravity / Agent Workspace Folders
.agents/
*.log

## NuGet Packages (Restored automatically by Visual Studio via nuget.config)
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Release packages
Goi_Cai_Dat_ERP/
*.zip
!All/*.zip
publish/

