<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- Thư mục lưu trữ package NuGet dùng chung cho toàn bộ Solution ERP -->
    <add key="repositoryPath" value="ERP_BanHang\packages" />
  </config>
  <packageRestore>
    <!-- Cho phép Visual Studio tự động khôi phục các package còn thiếu khi Build -->
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
