<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- Thu muc luu tru package NuGet dung chung cho toan bo Solution ERP -->
    <add key="repositoryPath" value="ERP_BanHang\packages" />
  </config>
  <packageRestore>
    <!-- Cho phep Visual Studio tu dong khoi phuc cac package con thieu khi Build -->
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
